.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
.venv/
src/backend/backend-venv/
src/my-pwa-frontend/node_modules/
.env


# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
backend-venv/

# IDE
.vscode/
.idea/

# Node modules
node_modules/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db